.skills-container {
  max-width: 1100px;
  margin: 45px 80px 100px 260px;
  padding: 60px 80px;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to right, #f8f4f9, #f2f0f7);
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
}

.skills-title {
  font-size: 48px;
  font-weight: 800;
  color: #4a4e69;
  margin-bottom: 30px;
  border-left: 6px solid #9a8c98;
  padding-left: 15px;
}

.skills-group {
  margin-bottom: 30px;
}

.group-title {
  font-size: 24px;
  color: #5e548e;
  margin-bottom: 10px;
  /* border-bottom: 2px solid #9a8c98; */
  padding-bottom: 5px;
  display: inline-block;
}

.skills-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.skills-list li {
  background-color: #ced5de;
  color: #333;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.skills-list li:hover {
  background-color: #e2e8f9;
}

@media (max-width: 768px) {
  .skills-container {
    margin: 40px 20px;
    padding: 40px 30px;
  }

  .skills-list {
    gap: 10px;
  }

  .skills-title {
    font-size: 36px;
  }
}
