.work-container {
  max-width: 1100px;
  margin: 45px 80px 100px 260px;
  padding: 60px 80px;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to right, #f8f4f9, #f2f0f7);
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  box-sizing: border-box;
}

.work-title {
  font-size: 48px;
  font-weight: 800;
  color: #4a4e69;
  margin-bottom: 10px;
  border-left: 6px solid #9a8c98;
  padding-left: 15px;
  transition: color 0.3s ease;
}

.work-item {
  margin-top: 40px;
  padding-bottom: 30px;
  /* border-bottom: 1px solid #ddd;  */
}

.work-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.work-position {
  font-size: 25px;
  font-weight: 700;
  color: #355070;

  flex: 1 1 auto; /* Esneyebilir, maksimum alan kaplar */
  min-width: 0; /* Taşmayı kontrol için */
  margin-right: 20px; /* Tarihle arada boşluk */
  word-break: break-word; /* Uzun kelimeleri kır */
  max-width: calc(100% - 150px); /* Tarihin alanını bırakarak sınır */
}

.work-date {
  font-size: 16px;
  font-weight: 400;
  color: #5e548e;
  white-space: nowrap; /* Tarih tek satırda kalır */
  flex-shrink: 0; /* Küçülmesini engelle */
}

.work-company {
  font-size: 19px;
  font-weight: 500;
  color: #6d597a;
  margin: 5px 0;
}

.work-description {
  font-size: 16px;
  color: #4a4e69;
  margin-top: 8px;
  line-height: 1.6;
}

/* Responsive tasarım */
@media (max-width: 768px) {
  .work-container {
    margin: 30px 10px;
    padding: 30px 10px;
    width: auto;
  }
  .work-title {
    font-size: 36px;
  }

  .work-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .work-date {
    margin-left: 0;
    margin-top: 8px;
  }
  .work-position {
    font-size: 28px;
    font-weight: 700;
    word-break: normal;
    white-space: normal;
  }
  .work-company {
    font-size: 19px;
    margin: 5px 0;
  }
}
