/* Reset ve global ayarlar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none !important;
  box-shadow: none !important;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* scroll-behavior: smooth; */
  /* font-family: "Segoe UI", sans-serif; */
}

/* Uygulama yapısı */
.app-container {
  display: flex;
  min-height: 100vh;
  /* overflow: hidden; */
}

.main-content {
  flex-grow: 1;
  overflow-y: auto;
  scroll-behavior: smooth;
  padding: 20px 40px;
}

@media (max-width: 768px) {
  .main-content {
    padding: 0;
  }
}

/* Bölüm geçiş efektleri */
section {
  min-height: 100vh;
  scroll-margin-top: 20px;
  transition: opacity 0.6s ease, transform 0.6s ease;
}
section.visible {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 768px) {
  section {
    min-height: auto;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  
  section:last-child {
    padding-bottom: 90px; /* Footer için yer bırak */
    margin-bottom: 0;
  }
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  section {
    transition: none;
  }
}
